.form-box {
    text-align: center;
    position: absolute;
    background: lightgray;
    width: 300px;
    border: 10px solid green;
    padding: 50px;
    margin: 20px;
    top: 30%;
    left: 35%;
}

input {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

input[type=submit] {
    width: 120px;
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.error {
    color: red;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

.nav-li {
    float: right;
}

.nav-li.float-left {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.nav-li a:hover:not(.active) {
    background-color: dimgray;
}

.active {
    background-color: forestgreen;
}

.default-image {
    width: 100%;
    opacity: 0.5;
}

body {
    margin: 0;
}

/*стили для слайдера*/

.slides {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 50px auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to{opacity: 1}
}

/*стили для плашек товаров*/
.stock-item-box {
    background-color: lightgray;
    width: 250px;
    border: 3px solid forestgreen;
    padding: 15px;
    margin: 25px;
    display: inline-block;
}

.small-image {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*стили для вертикального меню*/

.vertical-menu {
    width: 300px;
    float: right;
}

.vertical-menu a {
    background-color: lightgray;
    color: black;
    display: block;
    padding: 12px;
}

.vertical-menu a:hover {
    background-color: dimgray;
}

.vertical-menu a.active {
    background-color: forestgreen;
    color: white;
    text-align: center;
    font-size: 22px;
}

.filter-container {
    display: block;
    position: relative;
    padding-left: 70px;
    padding-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    background-color: lightgray;
}

.filter-container input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 0;
}

.filter-container input[type=number] {
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 60px;
    left: 5px;
    top: -4px;
}

.vertical-menu input[type=submit] {
    width: 297px;
    font-size: 22px;
    font-family: auto;
}

/*стили для кнопки добавления в корзину*/

.stock-item-box input[type=submit] {
    width: 200px;
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 0 25px;
    cursor: pointer;
}

/*стили для корзины*/

.cart-item-container {
    height: 90px;
}

.cart-img {
    height: 70px;
    float: left;
    border: 1px solid black;
    margin: 5px 50px 10px 0;
}

.cart-text {
    margin: 0 0 10px;
}

.cart-item-container input[type=submit] {
    width: 140px;
    background-color: forestgreen;
    color: white;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

/*стили для изменения количества*/

.cart-item-container input[type=submit].change-number {
    background-color: forestgreen;
    color: white;
    border-radius: 2em;
    padding: 0.5em 0.8em;
    width: 28px;
    cursor: pointer;
}

.cart-item-container form {
    display: inline-block;
}

/*стили для изменения количества (вариант 2)*/

.number-input {
    display: inline-flex;
}

.number-input button {
    background-color: white;
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    max-width: 3rem;
    padding: .5rem;
    border: none;
    font-size: 1.5rem;
    height: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/*стили для контейнера заказа*/

.order-container {
    width: 600px;
    text-align: center;
}

.order-container input {
    width: 600px;
    padding: 5px 0;
    margin: 15px 0;
}

.order-container input[type=submit] {
    width: 150px;
    background-color: forestgreen;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}